# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / React
node_modules/
**/node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env / credenciales
.env
.env.*
*.pem
*.key
